
.my-custom-styles {
  .dnk-dialog-content {
    border-radius: 0;
    background-color: #fff;
    .dnk-dialog-close {
      top: 0;
      right: 0;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;
      &:hover {
        box-shadow: none;
      }
    }
    .dnk-dialog-body {
      .dnk-dialog-body-buttons {
        justify-content: center;
        button {
          width: 100%;
          border-radius: 0;
          &:first-of-type {
            color: #fff;
            margin-right: 8px;
            background-color: #ff6b6b;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            &:hover {
              opacity: 1;
              box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
          }
          &.dnk-btn-primary {
            margin-left: 8px;
            background-color: #4b830d;
          }
        }
      }
    }
  }
}
